{% extends '@Gui/Layout/layout.twig' %}

{% set widget_title = 'Create Price List' %}

{% block head_title widget_title | trans %}

{% block action %}
    {{ backActionButton('/price-list-gui/price-list', 'Price Lists' | trans) }}
{% endblock %}

{% block content %}
    {% embed '@Gui/Partials/widget.twig' %}
        {% block widget_content %}
            <div class="panel panel-default">
                <div class="panel-heading">{{ 'Price List' | trans }}</div>
                <div class="panel-body">
                    {{ form_start(priceListForm) }}
                    {{ form_widget(priceListForm) }}
                    <input type="submit" class="btn btn-primary safe-submit" value="{{ 'Create' | trans }}"/>
                    {{ form_end(priceListForm) }}
                </div>
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}