<div class="well">
    <h3>{{ 'Allowed Quantity' | trans }}</h3>
    <p>{{ 'Bellow you can definie the min or max quantity that is allowed in shopping cart. Furthermore it is possible to set intervall.' | trans }}</p>
</div>

<div class="form-group">

    {%  set formKey = 'allowed_quantity' %}
    {% if form[formKey] is defined %}
        {% for input in form[formKey] %}
            <div class="form-group {% if input.vars.errors|length %}has-error{% endif %}">
                {{ form_label(input) }}
                {{ form_widget(input) }}
                {{ form_errors(input) }}
            </div>
        {% endfor %}
    {% endif %}
</div>
